<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:fragment="footer">
<script type="text/javascript" th:src="@{/scripts/jquery.js}"></script>
<script type="text/javascript" th:src="@{/scripts/base/base.js}"></script>
<script type="text/javascript" th:src="@{/scripts/base/util.js}"></script>
<script type="text/javascript" th:src="@{/scripts/base/event.js}"></script>
<script type="text/javascript" th:src="@{/scripts/component/component.js}"></script>
<script type="text/javascript" th:src="@{/scripts/component/popup.js}"></script>
<script type="text/javascript" th:src="@{/scripts/component/popupAdd.js}"></script>
<script type="text/javascript" th:src="@{/scripts/component/popupMsg.js}"></script>
<script type="text/javascript" th:src="@{/scripts/site/home.js}"></script>
<script type="text/javascript" th:src="@{/scripts/util/action.js}"></script>
<script type="text/javascript" th:src="@{/scripts/site/detail.js}"></script>
<h7>梁兵兵制作</h7>
</div>

</body>
</html>