<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="tontent-type" content="text/html; charset=UTF-8">


<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link th:href="@{/style/chen.css}" rel="stylesheet" />
<script type="text/javascript">
   $(document).ready(function(){
   
   });
</script>
</head>


<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<label for="default" class="col-sm-2 control-label">提问页面</label>
				<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
			</div>
			<!-- <span th:if="${message}!=null">
				<div class="alert alert-info alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${message}"></span>
				</div>
			</span> -->
			<div class="modal-body">
				<form class="modalbody" action="/wenda/message/add" method="POST" >
					<input type="hidden" name="id">
					<div class="customtask">
						<label for="taskname" class="col-sm-2 control-label">To：</label>
						<div class="col-sm-10">
							<input id="toName" type="text" class="form-control" name="toName"
								placeholder="请输入发送人">
						</div>
					</div>
					<div class="customtask">
						<label for="taskname" class="col-sm-2 control-label">内容</label>
						<div class="col-sm-10">
							<input id="content" type="text" class="form-control" name="content"
								placeholder="请输入发送内容" >
						</div>
					</div>
					
					
					<div class="modal-footer">
						<a href="/wenda/index"><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></a>
						<button type="submit" class="btn btn-primary">添加</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>